.login-btn {
  background-color: #38605D;
  color: #fff;
  font-weight: 500;
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 18px;
  margin-bottom: 8px;
}

.main-btn {
  background-color: #63cf80ff;
  font-family: Rubik, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  word-spacing: 0;
  color: #163634ff;
  box-shadow: 0px 0px 12px 3px rgba(57, 97, 65, 0.14);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(52 177 82);
  border-radius: 35px;
  padding: 15px 25px 10px 15px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: background 0.2s;
}

.main-btn-hover {
  background-color: #b8f1c6ff !important;
}
